.modal__wrapper.modal-pay.modal-pay__successfully
  .modal__container
    .modal
      span.modal__title Successfully
      p.modal__text Payment was successful
      .modal-btn-panel
        a.modal-btn Ok
.modal__wrapper.modal-pay.modal-pay__error
  .modal__container
    .modal
      span.modal__title Error
      p.modal__text Try again please
      .modal-btn-panel
        button.modal-btn Ok