.modal__wrapper.modal-1
  .modal__container
    .modal
      span.modal__title networks
      p.modal__text Do you use public Wi-Fi networks located in stores, restaraunts or airports?
      .modal-btn-panel
        button.modal-btn Yes
        button.modal-btn No
.modal__wrapper.modal-2
  .modal__container
    .modal
      span.modal__title banking
      p.modal__text Do you use the Internet for financial transactions or online shopping?
      .modal-btn-panel
        button.modal-btn Yes
        button.modal-btn No
.modal__wrapper.modal-3
  .modal__container
    .modal
      span.modal__title safety
      p.modal__text Do you want to protect your personal data and keep your connection secure at all times?
      .modal-btn-panel
        button.modal-btn Yes
        button.modal-btn No


