.modal__wrapper.modal-1
  .modal__container
    .modal
      span.modal__title Tittle
      p.modal__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      .modal-btn-panel
        button.modal-btn Choose #1
        button.modal-btn Choose #2
.modal__wrapper.modal-2
  .modal__container
    .modal
      span.modal__title Tittle
      p.modal__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      .modal-btn-panel
        button.modal-btn Choose #1
        button.modal-btn Choose #2
.modal__wrapper.modal-3
  .modal__container
    .modal
      span.modal__title Tittle
      p.modal__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      .modal-btn-panel
        button.modal-btn Choose #1
        button.modal-btn Choose #2


