//first-screen
section.section.first-screen(data-remove="1" data-section="1")
  .container
    span.section-icon.first-screen__mark
      +icon('mark')
    h1.first-screen__title
      span.main Attention!
      | your connection is not secure!
    p Your personal information (IP, location, search history and more) might be accessible by third parties while you browse.
    button.btn(data-remove="1") check your connection!
