//first-screen
section.section.first-screen(data-remove="1" data-section="1")
  .container
    span.section-icon.first-screen__mark
      +icon('mark')
    h1.first-screen__title
      span.main Attention!
      | your connection is not secure!
    p Your IP: 
      span(style="font-weight:bold").first-screen__ip
      br
      | Your time zone:
      span(style="font-weight:bold").first-screen__timeZone
      br 
      | Your Device OS:
      span(style="font-weight:bold").first-screen__os 
      br 
      | Your browser:
      span(style="font-weight:bold").first-screen__browser 
    p Your personal information (IP, location, search history and more) might be accessible by third parties while you browse.
    button.btn(data-circle="1" data-remove="1") check your connection!
