//first-screen
section.section.first-screen(data-remove="1" data-section="1")
  .container
    span.section-icon.first-screen__mark
      +icon('mark')
    h1.first-screen__title
      span.main Attention!
      | your device under attack!
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    button.btn(data-remove="1") check your device!
