//second-screen
section.section.second-screen(data-remove="2" data-section="1")
  .container
    span.section-icon.first-screen__mark
      +icon('bug')
    h2.first-screen__title see if your connection is 
      span.main compromised!
    p Answer the questions on the screen to learn more about your connection, whether or not it is in danger and how to protect yourself.
    button.btn(data-circle="1" data-remove="2") learn more



