//second-screen
section.section.second-screen 
  .container 
    span.section-icon.first-screen__mark 
      +icon('bug')
    h1.first-screen__title check you device to 
      span.main malware!
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    button.btn check your device!



