//second-screen
section.section.third-screen(data-remove="2" data-section="2" data-circle="1" style="display: block")
  h2.hidden Circle
  .container
    .circle
      svg#svg1(class="svg1" width="290" height="290" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg")
        circle(r="125" cx="145" cy="145" fill="transparent" stroke-dasharray="785" stroke-dashoffset="0")
        circle(class="bar bar1" id="bar1" r="125" cx="145" cy="145" fill="transparent" stroke-linecap="round" stroke-dasharray="785" stroke-dashoffset="0")
      svg(viewPort="0 0 130 130" version="1.1" xmlns="http://www.w3.org/2000/svg")
        circle(r="79" cx="143" cy="143" fill="transparent" stroke-dasharray="496" stroke-dashoffset="0")
      svg(viewPort="0 0 130 130" version="1.1" xmlns="http://www.w3.org/2000/svg")
        circle(r="34" cx="93" cy="93" fill="transparent" stroke-dasharray="213" stroke-dashoffset="0")
      .shadow.shadow-big
      .shadow.shadow-middle
      .shadow.shadow-small
    h2.hidden Progress section
    span.third-screen__title Establishing safe connection Scanning available networks Finding vulnerabilities
    .third-screen__progress Progress&nbsp;
      span.count 60
      | %
    p.third-screen__process Answer the questions to learn more





