//second-screen
section.section.third-screen 
  .container 
    .circle
    h2.hidden Progress section 
    span.third-screen__title Tittle name
    .third-screen__progress Progress 60%
    p.third-screen__process
      | We check your device!
      br
      | Please wait ...


    

