section.section.second-screen(data-remove="4" data-section="3")
  .container
    span.section-icon.first-screen__mark
      +icon('lock')
    h2.first-screen__title open networks might be
      span.main dangerous!
    p The data you upload online and offline might be available to interested third parties!
    button.btn(data-circle="2" data-remove="4") continue
