section.section.second-screen(data-remove="6" data-section="4")
  .container
    span.section-icon.first-screen__mark
      +icon('eye')
    h2.first-screen__title check you device to
      span.main spy programms!
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    button.btn(data-circle="3" data-remove="6") check spy prigramms
