section.section.second-screen(data-section="3" data-remove="6")
  .container
    span.section-icon.first-screen__mark
      +icon('eye')
    h1.first-screen__title check you device to
      span.main spy programms!
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    button.btn(data-circle="3" data-remove="6") check spy prigramms
