section.section.third-screen(data-section="3" data-circle="3" data-remove="7")
  .container
    .circle
      svg(width="290" height="290" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg")
        circle(class="bar" id="bar1" r="125" cx="145" cy="145" fill="transparent" stroke-linecap="round" stroke-dasharray="780" stroke-dashoffset="0")
      svg(width="286" height="286" viewPort="0 0 130 130" version="1.1" xmlns="http://www.w3.org/2000/svg")
        circle(class="bar" id="bar2" r="79" cx="143" cy="143" fill="transparent" stroke-linecap="round" stroke-dasharray="691" stroke-dashoffset="0")
      svg#svg3(viewPort="0 0 130 130" version="1.1" xmlns="http://www.w3.org/2000/svg")
        circle(r="34" cx="93" cy="93" fill="transparent" stroke-dasharray="691" stroke-dashoffset="0")
        circle(class="bar" id="bar3" r="34" cx="93" cy="93" fill="transparent" stroke-dasharray="691" stroke-dashoffset="0"  stroke-linecap="round" )
      .shadow.shadow-big
      .shadow.shadow-middle
      .shadow.shadow-small
    h2.hidden Progress section
    span.third-screen__title Tittle name
    .third-screen__progress Progress&nbsp;
      span#count 60%
    p.third-screen__process We check your device!
      br
      | Please wait ...
