section.section.eight-screen(data-remove="8" data-section="5")
  .eight-screen-header
    .container
      p.eight-screen-header__text Your personal offer has been reserved for next 15 minutes
      .eight-screen-header__timer
        span.hours 00
        span :
        span.minutes 14
        span :
        span.seconds 35
  .container
    span.section-icon.eight-screen__mark
      +icon('mark')
    h2.eight-screen__title protection your device only
      span.main 45% !
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    .eight-screen-protection
      h2.eight-screen__title use our
        span.main full protection
      .eight-screen-protection-raiting
        .left
          +icon('branch')
        .center
          .stars
            +icon('star')
            +icon('star')
            +icon('star')
            +icon('star')
            +icon('star')
          span 4.85 Global Raiting
        .right
          +icon('branch')
      a.btn.btn-fixed(href="#pay-form") full protect only 1$
    .eight-screen-safely
      ul.eight-screen-safely-list
        li 
          +icon('ico1')
          span.eight-screen-safely-list__title VPN
          p.eight-screen-safely-list__text Secure encryption and complete anonymity online
        li 
          +icon('ico2')
          span.eight-screen-safely-list__title System Security

          p.eight-screen-safely-list__text Improve the security of your device both online and offline
        li 
          +icon('ico3')
          span.eight-screen-safely-list__title AdBlock
          p.eight-screen-safely-list__text Get rid of annoying ads and surf the Internet with comfort
        li 
          +icon('ico4')
          span.eight-screen-safely-list__title Data Leaks
          p.eight-screen-safely-list__text See if your personal data was leaked online
    .eight-screen-offer
      h2.eight-screen__title
        span.main PERSONAL OFFER
      .eight-screen-offer-timer
        span.eight-screen-offer-timer__title expireD in
        .eight-screen-offer-timer-panel
          span.hours 00
          span :
          span.minutes 14
          span :
          span.seconds 35
      .eight-screen-offer-price
        .eight-screen-offer-price__top
          span.eight-screen-offer-price__title personal offer!
          span.eight-screen-offer-price__save.main SAVE 90%
        .eight-screen-offer-price__body
          .eight-screen-offer-price__item
            span.trial 7-Day Trial
            .price
              span.old 39.50$
              span.new 9.85$
          .eight-screen-offer-price__item
            span.total Total Today
            span.price 9.85$
    .pay-form__wrapper#pay-form
      h2.pay-form__title Pay safly
      .pay-form
        .pay-form-item
          span.label Email
          .pay-form__input#emailPAy(type="email", name="email" placeholder="your e-mail")
        .pay-form-item
          span.label Credit card
          .pay-form__input#cardPAy(type="number", name="cardNumber" placeholder="card number")
        .pay-form-group
          .pay-form-item
            span.label Expires on
            .pay-form__input#datePAy(type="number", name="datePay" placeholder="00 / 00")
          .pay-form-item
            span.label CVV / CVC
            .pay-form__input#cvcPAy(type="number", name="CVC" placeholder="CVC")
        button.btn.btn_apple
          +icon('apple')
          | pay
        button.btn.btn_pay pay 1$ with credit card!
    .eight-screen-footer
      p  *Your 7-Day Trial will last until May 24, 2022. You can cancel at anytime before then and will not be charged the full program amount.

      p  No question asked, no small print. If you decide GalaxyLine is good for you, on May 24, 2022 you will be charged one payment for **** for your 2 months course
      p  GalaxyLine will automatically charge your card ****  every 2 months so you don’t lose access to your account. No refunds or credits except if you don’t see results and follow our money-back policy. To cancel, simply let us know by email:
      ul.eight-screen-footer-links
        li
          a(href="#") support@galaxylineapp.com
        li
          a(href="#") Политика конфиденциальности
        li
          a(href="#") Условия использования Политика возврата средств

