.first-screen {
  display: block;
  .btn {
    margin-top: 13vh;
  }
}
.second-screen {
  &:before {
    content: "";
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 362px;
    height: 284px;
    background: var(--bugBack);
    background-size: contain;
  }
  .btn {
    margin-top: 13vh;
  }
}

.third-screen  {
  .circle {
    width: 290px;
    height: 290px;
    margin: auto auto 5vh;
    transform: rotate(-90deg);
    position: relative;
    circle {
      stroke-dashoffset: 0;
      stroke: var(--darkenBack);
      stroke-width: 37px;
    }
    .bar1 {
      stroke: var(--bigC);
    }
    .bar2 {
      stroke: var(--middleC);
    }
    .bar3 {
      stroke: var(--smallC);
    }
    .shadow {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 50%;
      transform: translate(0%,-50%);
      box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.15);
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 198px;
        height: 198px;
        border-radius: 50%;
        transform: translate(0%,-50%);
        box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15);
        z-index: 100;
      }
      &-big {
        width: 214px;
        height: 214px;
        &:after {
          width: 198px;
          height: 198px;
        }
      }
      &-middle {
        width: 123px;
        height: 123px;
        &:after {
          width: 107px;
          height: 107px;
        }
      }
      &-small {
        width: 30px;
        height: 30px;
        &:after {
          display: none;
        }
      }
    }
    svg {
      &:not(:first-child) {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translate(0%,-50%);
        border-radius: 50%;
      }
      &:nth-child(2) {
        width: 286px;
        height: 286px;

      }
      &:nth-child(3) {
        width: 187px;
        height: 187px;
      }
    }
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
    opacity: 0.5;
    color: var(--title);
    margin-top: -10px;
    animation: infinite 3s ease-in-out opacity;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__progress {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: var(--title);
  }
  &__process {
    padding: 10px 20px;
    margin: 10px auto 10vh;
    max-width: 313px;
    border-top: 1px solid var(--br);
    color: var(--title);
    opacity: 0.75;
    display: flex;
    line-height: 1.2;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.eight-screen {
  height: auto;
  padding-bottom: 32px;
  &__mark {
    margin-top: 32px;
  }
  &__title {
    margin-top: 32px;
    .main {
      display: inline-block;
    }
  }
  &-header {
    color: var(--eightHeader);
    position: relative;
    background: var(--main);
    padding: 15px 0;
    overflow: hidden;
    .container {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    &:before, &:after {
      content: "";
      position: absolute;
      height: 6px;
      width: 1000%;
      left: 0;
      right: 0;
      background: url(../img/romb.svg);
      background-repeat: repeat-x no-repeat;
      background-size: contain;
      animation: 60s linear infinite slidein;;
    }
    &:before {
      top: -1px;
    }
    &:after {
      bottom: -1px;
    }
    &__text {
      padding: 0;
      margin: 0;
      font-size: 15px;
      max-width: 226px;
      margin-right: 26px;
      text-align: left;
      font-weight: 600;
    }
    &__timer{
      display: flex;
      span {
        font-weight: 700;
        font-size: 22px;
        display: inline-block;
        &[class]{
          width: 29px;
          margin: 0 3px;
        }
      }
    }
  }
  &-protection {
    border-top: 1px solid rgba($color: $white, $alpha: 0.2);
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
    margin-top: 12px;
    padding-bottom: 30px;
    p {
      font-size: 12px;
    }
    // .btn {
    //   position: sticky;
    //   bottom: 20px;
    //   left: 0;
    //   right: 0;
    //   margin-top: 34px;
    //   width: 100%;
    // }
    &-raiting {
      display: flex;
      align-items: center;
      padding: 0 40px;
      margin-top: 16px;
      .left, .right {
        width: 53px;
        height: 53px;
        .icon {
          width: 100%;
          height: 100%;
          fill: var(--branch);
        }
      }
      .right {
        transform: rotate3d(0, -1, 0, 180deg);
      }
      .center {
        .stars {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .icon {
          fill: var(--main);
          &:nth-child(3) {
            width: 25px;
            height: 23px;
          }
          &:first-of-type, &:last-of-type {
            width: 21px;
            height: 20px;
          }
          &:nth-child(2), &:nth-child(4) {
            width: 23px;
            height: 22px;
          }
        }
        span{
          display: block;
          width: 100%;
          font-size: 13px;
          margin-top: 10px;
          line-height: 1;
        }
      }
    }
  }
  &-offer {
    &-timer {
      &__title {
        text-transform: uppercase;
        font-size: 17px;
        line-height: 21px;
        font-weight: 800;
        color: $white;
        margin-bottom: 16px;
        font-size: 16px;
      }
      &-panel {
        display: flex;
        span {
          font-weight: 400;
          display: inline-block;
          font-size: 40px;
          @media screen and (min-width: 370px) {
            font-size: 60px;
          }
          &[class]{
            width: 77px;
            margin: 0 6px;
          }
        }

      }
    }
    &-price  {
      border-radius: 20px;
      background: var(--lightBack);
      box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      &__top {
        padding: 20px;
        border-bottom: 1px solid var(--br);
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      &__title {
        font-size: 15px;
        line-height: 1;
        font-weight: 600;
        text-transform: uppercase;
      }
      &__save {
        font-weight: 800;
        font-size: 15px;
      }
      &__body {
        padding: 20px;
      }
      &__item {
        display: flex;
        justify-content: space-between;
        span {
          font-size: 15px;
          display: inline-block;
          &.trial {
            color: $trial;
          }
          &.old {
            color: var(--main);
            text-decoration: line-through;
            margin-right: 10px;
          }
          &.new {
            color: $trial;
          }
        }
      }
    }
  }
  .pay-form {
    position: relative;
    &::after {
      content: "";
      clear: both;
      width: 100%;

    }
    &__wrapper {
      padding: 32px 0;
    }

  }

  .btn_pay {
    position: sticky;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
  
  &-footer {
    p {
      font-size: 12px;
      margin: 5px 0;
      color: var(--footer);
      opacity: 0.5;
    }
    &-links {
      a {
        font-size: 12px;
        text-decoration: underline;
        color: var(--footer);

      }
    }
  }
}
@keyframes slidein {
  0% {
    margin-left:0%;
  }
  50% {
    margin-left:-900%;
  }
  0% {
    margin-left: 0%;
  }
}
@keyframes opacity {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }

}
