//header
header.header
  .container
    .header-list
      .header-list__item.check.active(data-item="1") 1
      .header-list__line.active(data-item="2")
      .header-list__line(data-item="2")
      .header-list__item(data-item="2") 2
      .header-list__line(data-item="3")
      .header-list__line(data-item="3")
      .header-list__item(data-item="3") 3
      .header-list__line(data-item="4")
      .header-list__line(data-item="4")
      .header-list__item(data-item="4") 4
