//header
header.header
  .container
    .header-list
      .header-list__item.active 1
      .header-list__line.active
      .header-list__line.active
      .header-list__item.active 2
      .header-list__line.active
      .header-list__line.active
      .header-list__item.active 3
      .header-list__line.active
      .header-list__line
      .header-list__item 4
