$font-family-main: "Montserrat",
sans-serif;
//SIZE
$font-size-main: 17px;
$font-size-h1: 30px;
$font-size-h2: 33px;
//COLORS
$black: #000;
$white: #fff;
$back: #252C3E;
$darkenBack: #171D2D;
$lightBack: #303951;
$main: #FFE600;
$text: rgba(255, 255, 255, 0.75);
$btn: #2C2C32;


$breakpoints: ("320": 320px, "768": 768px, "1024": 1024px, "1280": 1280px, "1440": 1440px, "1600": 1600px);
//width container
$max-width: 375px;
