.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-apple {
	font-size:(24/10)*1rem;
	width:(20/24)*1em;
}
.icon-branch {
	font-size:(54/10)*1rem;
	width:(30/54)*1em;
}
.icon-bug {
	font-size:(75/10)*1rem;
	width:(75/75)*1em;
}
.icon-eye {
	font-size:(75/10)*1rem;
	width:(69/75)*1em;
}
.icon-ico1 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-ico2 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-ico3 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-ico4 {
	font-size:(600/10)*1rem;
	width:(600/600)*1em;
}
.icon-lock {
	font-size:(75/10)*1rem;
	width:(57/75)*1em;
}
.icon-mark {
	font-size:(75/10)*1rem;
	width:(75/75)*1em;
}
.icon-star {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
